{# templates/login/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% include '/base/head.html.twig' %}
    </head>
    <body>
      <div class="container">
        <div ng-app="">
          {% verbatim %}
          <h1>Welcome back {{username}}</h1>
          {% endverbatim %}
          <form id="login">
            <div class="form-group">
              <label>Username:</label>
              <input type="text" class="form-control" ng-model="username" id="username" name="password" placeholder="Username">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" class="form-control" ng-model="password" id="password" name="password" placeholder="Password">
              <div ng-hide="passwordDisplay">
                {% verbatim %}
                <pre>{{password}}</pre>
                {% endverbatim %}
              </div>
            </div>
            <div class="form-group">
              <input type="checkbox" ng-model="passwordDisplay"> Hide Password
            </div>

            <input type="submit" class="btn btn-block btn-primary" name="Login">
          </form>
        </div>
      </div>
    </body>
      {% include '/base/foot.html.twig' %}
      <script type="text/javascript">
          $('#login').submit(function(event) {
              $.ajax({
                  type:'POST',
                  url:'/login/auth/',
                  data: {
                       username: $('#username').val(),
                       password: $('#password').val()
                  },
                  success:function(response){
                      alert(response)
                  }
              });
              event.preventDefault();
          });
      </script>
</html>
